<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read (One)</title>
</head>

<body>
  <h1>Peep: {{person.id}}</h1>
  <p>Full Name: {{person.first_name}} {{person.last_name}}</p>
  <p>Email: {{person.email}}</p>
  <p>Created: {{person.created_at.strftime("%b-%d-%y")}}</p>
  <p>Updated: {{person.updated_at.strftime("%b-%d-%y")}}</p>

</body>

</html>